@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

header {
    padding: 0 35px;
}

body {
    background-color: #F7F7FF;
    font-family: Montserrat;
}

main {
    padding: 20px 35px;
}

img#logo {
    width: 125px;
}

/* really love the look of the border radius in forms. Something I'll definitely be using myself going forward */
form {
    border-radius: 25px;
}

input {
    border: 0;
    background-color: #F4F4F5;
    color: #9B9B9B;
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    /* border-box has quickly become one of my favourite functions in css */
    box-sizing: border-box;
    font-size: 16px;
}

/* turns out there aren't many ways you can change the look of a checkbox, I would have liked to make the edges a bit rounder
but couldn't track down how to do it if there is a way */
input#terms {
    width: 25px;
    height: 25px;
}

input[type=submit] {
    color: white;
    background-color: #FF8480;
    font-size: 24px;
}

/* I've never used so many suqare brackets in my life */
label[for=terms] {
    display: inline-block;
    font-size: 16px;
}

form#white-form {
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
    margin: 15px 0;
}

form#white-form input[type=submit] {
    color: black;
    background-color: #57EEAB;
    margin: 10px 0;
    height: 55px;
}

fieldset {
    border: 0;
    padding: 5px 0px;
}

footer {
    background-color: #FFFD8C;
    padding: 20px 35px;
}

/* the downside to using all these different h sizes is how often they change at different screen sizes, but it makes grouping them 
really easy and keeps things well organized without any classes or id's */
h1 {
    font-size: 60px;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 40px;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 24px;
    margin: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
}

a {
    color: #FF8480;
    text-decoration: none;
}

/* this was bugging for a long time while working on this assignment, I kept thinking the button tag is what I was supposed to use
rather than input */
h1,
h2,
input[type=submit] {
    font-weight: bold;
}

h3,
h4,
h5 {
    font-weight: normal;
}

footer h5 {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

footer input {
    color: #707070;
    font-family: Montserrat-Medium;
}

/* a lot of my CSS is just setting font sizes, and there's even more of this in the media queries */
#application-text {
    font-size: 14px;
}

#hours-text {
    font-size: 16px;
}

/* still a little split on whether I like grid or flexbox more, but I'm starting to use grid more often between the two */
#footer-input {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

/* and just as I say that, I throw flex in the mix */
#icons {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    width: 250px;
}

/* I keep trying to decide if padding or margin is the right thing to use, and I know there's a rule but it's one I have
trouble remembering */
@media (min-width: 768px) {
    header {
       padding: 0 75px;
    }

    main {
       padding: 20px 75px;
    }

    footer {
        padding: 20px 75px;
    }
    
    h1 {
        font-size: 80px;
    }

    h5 {
        font-size: 30px;
    }

    #white-form h5 {
        padding: 15px 0;
    }

    form#white-form {
        padding: 35px;
    }

    form#white-form input {
        font-size: 18px;
        height: 55px;
    }

    form#white-form input[type=submit] {
        font-size: 32px;
        height: 64px;
    }

    label[for=terms] {
        font-size: 20px;
    }

    /* this line is a mouthful but making it specific enough to override the original line takes this much */
    form#white-form input#terms {
        width: 29px;
        height: 29px;
    }

    /* starting to think that maybe I use ID's too much and should start switching to classes a bit more */
    #application-text {
        font-size: 17px;
    }

    footer form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    /* I could probably really clean up my CSS sheets and make them way shorter by figuring out a way to do these one line margin
    settings less often */
    #hours-text {
        margin: 10px 0;
    }
}

@media (min-width: 1200px) {
    main {
        display: grid;
        padding: 40px 75px 90px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        margin-bottom: 50px;
    }

    img#scooter {
        margin: 0 -125px;
    }

    footer form {
        width: 615px;
        float: left;
    }

    #icons {
        float: right;
        margin-top: -30px;
    }

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
}